#pragma once
// Skopiuj jako src/secrets.h i uzupelnij swoje dane.
// Plik secrets.h jest w .gitignore i nie bedzie commitowany!

#define WIFI_SSID "twoja_siec_wifi"
#define WIFI_PASS "twoje_haslo_wifi"
